*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0000007e;
    background-blend-mode: color;
    /*para centralizar*/
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: rgba(27, 22, 15, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
h1{
    color: #ffffff;
    font-size: clamp(40px, 10vw, 120px);
    font-weight: 400;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    
}
p{
    color:oldlace;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

button{
    background-color: rgb(204, 138, 223);
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.apresentacao{   
    color:oldlace;
    font-size: clamp(20px, 5vw, 60px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style:italic;
}
#informacoes{
    width: 90px;
    height: 90px;
    background-color: rgb(197, 179, 143);
    border-style: none;
    border-radius: 10px;
}