*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0000007e;
    background-blend-mode: color;
    /*para centralizar*/
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: rgba(27, 22, 15, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
h1{
    color: #ffffff;
    font-size: 85px;

}
p{
    color:oldlace;
    font-size: 30px;
}

button{
    background-color: rgb(214, 207, 216);
    color: rgb(14, 6, 6);
    font-size: 20px;
}